<meta charset="utf-8" />
<title>Продукти</title>
<link type="text/css" rel="stylesheet" href="stylesheets/stylesheet.css" />
<link rel="icon" href="images/ico.jpg" />
<script src="js/lib/require.js"></script>
        <script>
            //Load common code that includes config, then load the app
            //logic for this page.
            requirejs(['./js/config'], function (config) {
                // sets the baseUrl to be js/ so
                //can just ask for 'app/main' here instead
                //of 'js/app/main'
                requirejs(['app/mainPage']);
            });
        </script>