<!DOCTYPE html>
<html>
	<head>
        {{#block "head"}}
            {{> head}}
        {{/block}}
	</head>
    <body>
        {{> top}}
		<div class="cont">
            {{#block "table"}}
                {{> table}}
            {{/block}}
		</div>
    </body>
</html>              
