<div id="top"> 
	<h1><a id="a_" href="see">Живі продукти</a></h1>
	<div>
        <img id="_1_" src="images/title_1.jpg" alt="Фото фруктів" title="Відбірні, соковиті" />
		<img id="_2_" src="images/title_2.jpg" alt="Photo" title="title" />
		<img id="_3_" src="images/title_3.jpg" />
    </div>
</div>