<!----------------------------------------------- 
Головна сторінка сайту з продажі свіжих продуктів
 ----------------------------------------------->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{{title}}</title>
		<link type="text/css" rel="stylesheet" href="stylesheets/stylesheet.css" />
		<link rel="icon" href="images/ico.jpg" />
	</head>
	<body>
		<div id="top"> 
			<h1><a id="a_" href="">{{text}}</a></h1>
		</div>
	</body>
</html>
