{{#extend "layout"}}

    {{#content "head" mode="append"}}
        <link rel="stylesheet" href="#" />
    {{/content}}

    {{#content "bar" mode="prepend"}}
        <a href="#">Added</a>
    {{/content}}

{{/extend}}