@import "./bootstrap.css";
@import "./tree.css";

body {
    background: none !important;
}
#mainDiv {
    
}
#siteTree {
    height: 100vh;
    overflow: scroll;
    border-right: 1px solid black;
}
#stuff {
    height: 100vh;
    overflow: scroll;
}