/* ==================================================
Сторінка стильового оформлення для каталогу продуктів 
===================================================*/
body {
	background-color: #48b837;
	background-image: url(images/fon.jpg); /* Не працює!  ---???--- */
	background-position: top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	border-radius: 5px;
}

div {
	position:relative;
	font-size: 18px;
	font-family: verdana, serif;
	color: #0F4821;
}
#top {                /* Шапка сторінки */

	margin: auto;                         /* Align of the 'div' don`t work! ---???--- */
	width:100%;
	height:320px;
	border-radius: 7px;
	margin: 1px;
	background-color: #ccff33;
}
#top div img {
	height: auto;
	border: 2px solid blue;
	border-radius: 7px;
	margin: 1px;
}
#top div {
	position: absolute;
	padding: 5px;
	border-bottom: 3px solid red;
	border-top: 3px solid red;
}
#top h1 {
	color: #0F4821;
	font-size: 3em;
	font-family: cursive, serif;
	text-align: center;
	margin: -25px 0px 5px;
}
.cont { /*  The block with all tables */
	background-color: #38AD5D;
	margin: 10px;
	padding: 5px;
	border-radius: 7px;
}
 td {
	text-align: center;
	border:1px black solid;
	font-family: arial, serif;
	padding: 3px;
	
}
table {
	text-align: center;
	border:1px #0FA0AE solid;
	border-radius: 7px;
	font-family: arial, serif;
	background-color: #d9ff66;
}

th {
	background-color:#9AAD38;
	font-size:2em;
	font-family:Georgia, arial;
}
#tab_1 {
	margin:2em;
}
#tab_2 {
	margin:2em;
}
#tab_3 {
	margin:2em;
}
td img {
	height:80px;
	width: 80px;
}
#a_ {
	text-decoration:none;
}
a:hover {
	text-decoration:overline;
	color:#741123;
	font-weight: bold;
}
#bar {
	margin-right: 25px;
	margin-top: 5px;
	margin-left: 5px;
	height: 1100px;
	width: 400px;
	border: 2px dashed green;
	border-radius: 8px;
	float: right;
	background-color: #BE9D3C ;
}
#bar div {
	height:230px;
	background-color: #ace600;
	margin: 15px;
	border-radius: 20px;
}
p {
	margin: 5px;
}
h2 {
	text-align: center;
}